@import "./theme.css";

.App {
  min-height: 100vh;
}

.App-logo {
  height: 12vmin;
  margin-bottom: 25px;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header .actions-wrapper button {
  padding: 0 15px;
  height: 32px;
  font-size: 14px;
  margin-right: 12px;
}

.App-header .actions-wrapper button:last-child {
  margin-right: 0;
}

.login-form,
.register-form {
  min-width: 300px;
}

.login-form .login-form-submit-btn {
  font-weight: 700;
  border-radius: 24px;
  float: left;
}

.login-form .login-form-register-link {
  float: right;
}

.register-container {

}

.register-container .register-title {
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
  color: #313739;
}

.login-form label,
.register-form label {
  color: #000000 !important;
}

.register-form input {
  float: right;
  max-width: 200px;
}

.register-form .register-form-button-wrapper {
  text-align: center;
}

.register-form .register-form-submit-btn {
  font-weight: 700;
  border-radius: 24px;
  float: left;
}

.register-form .register-form-cancel-btn {
  float: right;
}

.image-circle {
  border-radius: 100%;
}

.home .home-title {
  color: #313739;
  font-weight: 200;
  font-size: 37px;
}

.home .ant-input {
  height: 36px;
  border-radius: 6px;
}

.home .ant-btn-primary:hover {
  background-color: #4d4dff;
  border-color: #4d4dff;
}

.home .ant-form-item-explain.ant-form-item-explain-error {
  font-size: 13px;
  font-weight: 500;
  text-align: right;
}

#MainComponent .chat-item-menu li.ant-menu-item {
  padding: 6px 12px;
  height: 72px;
}

#MainComponent .chat-item-menu li.ant-menu-item img {
  border-radius: 9%;
}

#MainComponent .chat-item-avatar {
  float: left;
  margin-right: 12px;
}

#MainComponent .chat-item-desc {
  line-height: 21px;
  padding: 8px 0;
}

#MainComponent .chat-item-user-name {
  font-size: 16px;
  display: block;
}

#MainComponent .chat-item-message {
  color: #949494;
}

#MainComponent .chat-item-message.unread {
  font-weight: bold;
  color: #000000;
}

#MainComponent .chat-item-message.unread .unread-circle {
  width: 12px;
  height: 12px;
  float: right;
  border-radius: 100%;
  background-color: rgb(0, 143, 255);
}

#MainComponent
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
  .ant-menu-item-selected {
  background-color: #323739;
}

#MainComponent
  .ant-menu.ant-menu-light {
  background-color: #f2f2f2;
}

#MainComponent .chat-screen-layout {
  position: relative;
}

#MainComponent .ant-layout-sider {
  background: #f2f2f2;
}

#MainComponent .ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background: #131c22;
}

#MainComponent .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #e3e3e3;
}

#MainComponent .ant-menu-inline .ant-menu-item::after {
  border-right: none;
}

#MainComponent .ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active, .ant-menu-submenu-title:hover {
  background-color: #e3e3e3;
  color: initial;
}

#MainComponent .ant-menu-item-selected {
  color: initial;
}

#MainHeaderComponent {
  background-color: #f2f2f2;
}

#MainHeaderComponent .header-logo {
  width: 22px;
  margin-right: 8px;
  vertical-align: middle;
}

#MainHeaderComponent .ant-row {
  padding: 24px;
}

#MainHeaderComponent .ant-row:last-child {
  padding-top: 0;
}

#MainHeaderComponent .avatar {
  border-radius: 100%;
}

#MainHeaderComponent .app-heading {
  text-align: left;
  font-weight: 300;
}

#MainHeaderComponent .header-right {
  float: right;
  line-height: 65px;
}

#MainHeaderComponent .edit-icon {
  float: right;
  margin-top: 4px;
}

#MainHeaderComponent .edit-icon svg {
  height: 22px;
  width: 22px;
}

#MainHeaderComponent .op-btn {
  text-align: right;
}

#ChatScreenHeaderComponent {
  background-color: #ffffff;
  padding: 6px 16px;
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

#ChatScreenHeaderComponent .chat-options {
  float: right;
  margin-right: 16px;
}

#ChatScreenHeaderComponent .chat-avatar {
  display: inline-block;
  margin-right: 12px;
  line-height: 48px;
  float: left;
}

#ChatScreenHeaderComponent .chat-avatar img {
  width: 36px;
  border-radius: 50%;
}

#ChatScreenHeaderComponent .chat-desc-wrapper {
  display: block;
  max-width: 100px;
  float: left;
  line-height: 17px;
  margin-top: 8px;
}

#ChatScreenHeaderComponent .chat-dest-user {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  width: 100%;
  float: left;
}

#ChatScreenHeaderComponent .chat–status {
  float: left;
  font-size: 12px;
  font-weight: 500;
}

#ChatScreenHeaderComponent .chat–status.online {
  color: #389e0d;
}

#ChatScreenHeaderComponent .chat–status.offline {
  color: #9a9a9a;
}

#ChatScreenHeaderComponent .chat-settings {
  float: right;
  font-size: 24px;
  font-weight: bold;
  transform: rotate(90deg);
  line-height: 1.8;
  color: rgb(0, 143, 255);
}

#ChatScreenComponent {
  background-color: #ffffff;
  height: 100vh;
  padding: 72px 18px;
  overflow: auto;
}

#ChatScreenComponent .container {
}

#ChatInputComponent {
  background-color: #ffffff;
  padding: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e3e3e3;
}

#ChatInputComponent .op-btn .anticon {
  color: #ffffff;
}

#ChatInputComponent .add-input {
  color: rgb(0, 143, 255);
  height: 36px;
  width: 36px;
}

#ChatInputComponent .chat-input {
  width: 100%;
  border-radius: 20px;
}

.bubble-component .bubble-wrapper {
  margin: 4.5px 0;
  width: 100%;
}

.bubble-component .bubble-wrapper.sender {
  float: right;
  text-align: right;
}

.bubble-component .bubble-wrapper.receiver {
  float: left;
  text-align: left;
}

.bubble-component [class*="sender-"] {
  background-color: rgb(0, 143, 255);
  color: #ffffff;
}

.bubble-component [class*="receiver-"] {
  background-color: #f2f0f0;
}

.bubble-component [class*="receiver-"],
.bubble-component [class*="sender-"] {
  padding: 6px 10px;

}

.bubble-component .sender-default {
  border-radius: 18px;
}
.bubble-component .sender-start {
   border-radius: 18px 18px 6px 18px;
}
.bubble-component .sender-middle {
  border-radius: 18px 6px 6px 18px;
}
.bubble-component .sender-end {
  border-radius: 18px 6px 18px 18px;
}
.bubble-component .receiver-default {
  border-radius: 18px;
}
.bubble-component .receiver-start {
  border-radius: 18px 18px 18px 6px;
}
.bubble-component .receiver-middle {
  border-radius: 6px 18px 18px 6px;
}
.bubble-component .receiver-end {
  border-radius: 6px 18px 18px 18px;
}

.m-l-12 {
  margin-left: 12px;
}

.m-r-12 {
  margin-right: 12px;
}

.m-t-12 {
  margin-top: 12px;
}

.m-b-12 {
  margin-bottom: 12px;
}
