@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

.App-logo {
  height: 15vmin;
  margin-bottom: 25px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form, .register-form {
  min-width: 300px;
}

.login-form .login-form-submit-btn {
  width: 100%;
}

.login-form .login-form-register-link {
  
}

.login-form label, .register-form label {
  color: #fff !important;
}

.register-form input {
  float: right;
  max-width: 200px;
}

.register-form .register-form-button-wrapper {
  text-align: center;
}

.register-form .register-form-submit-btn {
  margin-left: 15px !important;
}