@import './theme.css';

.App {
  min-height: 100vh;
}

.App-logo {
  height: 15vmin;
  margin-bottom: 25px;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form, .register-form {
  min-width: 300px;
}

.login-form .login-form-submit-btn {
  width: 100%;
}

.login-form .login-form-register-link {
  
}

.login-form label, .register-form label {
  color: #fff !important;
}

.register-form input {
  float: right;
  max-width: 200px;
}

.register-form .register-form-button-wrapper {
  text-align: center;
}

.register-form .register-form-submit-btn {
  margin-left: 15px !important;
}

#MainComponent .chat-item-row {
  padding: 12px 12px;
  height: 72px;
}

#MainComponent .chat-item-row img {
  border-radius: 100%;
}

#MainComponent .chat-item-user-name {
  font-size: 16px;
  display: block;
  line-height: normal;
}

#MainComponent .chat-item-message {
  color: rgba(255,255,255,0.65);
}

#MainHeaderComponent {
  background-color: #20252b;
}

#MainHeaderComponent .ant-row {
  padding: 24px 12px;
}

#MainHeaderComponent .ant-row:last-child {
  padding-top: 0;
}

#MainHeaderComponent .avatar {
  border-radius: 6px;
}

#MainHeaderComponent .app-heading {
  text-align: center;
}

#MainHeaderComponent .edit-icon {
  float: right;
  margin-top: 4px;
}

#MainHeaderComponent .edit-icon svg {
  height: 22px;
  width: 22px;
}